[include plr.cfg]
[include MCU_ID.cfg]

[stepper_x]
step_pin:PC14
dir_pin:!PC13
enable_pin:!PC15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin:!PC0
endstop_pin:tmc2209_stepper_x:virtual_endstop
position_min: -6
position_endstop: -6
position_max: 310
homing_speed:40
homing_retract_dist:0
homing_positive_dir:false
step_pulse_duration:0.000002

[stepper_y]
step_pin:PB7
dir_pin:!PB6
enable_pin:!PB8
microsteps:16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin:!PC1
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop:0 
position_max:310
homing_speed:40
homing_retract_dist:0
homing_positive_dir:false
step_pulse_duration:0.000002

[stepper_z]
step_pin:PC10
dir_pin:!PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_max: 405
position_min: -5 
homing_speed:20

[extruder]
step_pin:PB1
dir_pin:!PB2
enable_pin:!PB0
microsteps:16
rotation_distance: 4.706#31.4	#Bondtech 5mm Drive Gears
#gear_ratio: 52:10
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: -100
max_temp: 330
heater_pin: PA7
sensor_type:EPCOS 100K B57560G104F
sensor_pin: PA1
max_power: 1
#control :pid
#pid_kp : 26.213 
#pid_ki : 1.304
#pid_kd : 131.721 
pressure_advance: 0.03
pressure_advance_smooth_time: 0.02
max_extrude_cross_section:500
instantaneous_corner_velocity: 5.000
max_extrude_only_distance: 500
max_extrude_only_velocity:500
max_extrude_only_accel:8000
step_pulse_duration:0.000002
min_extrude_temp:0
smooth_time: 2.0

# [homing_override]
# set_position_z:0
# gcode: 
#     G91
#     G1 Z5 F120
#     G90
#     {% if params.X is defined %}
#     {% if params.Y is undefined %}
#     {% if params.Z is undefined %}
#     G28 X
#     {% endif %}
#     {% endif %}
#     {% endif %}
#     {% if params.Y is defined %}
#     {% if params.X is undefined %}
#     {% if params.Z is undefined %}
#     G28 Y
#     {% endif %}
#     {% endif %}
#     {% endif %}
#     {% if params.Z is defined %}
#     {% if params.X is undefined %}
#     {% if params.Y is undefined %}
#     G28 Y
#     G28 X
#     G1 X137 Y103 F3000
#     G28 Z
#     {% endif %}
#     {% endif %}
#     {% endif %}
#     {% if params.X is defined %}
#     {% if params.Y is defined %}
#     {% if params.Z is undefined %}
#     G28 Y
#     G28 X
#     {% endif %}
#     {% endif %}
#     {% endif %}
#     {% if params.X is undefined %}
#     {% if params.Y is undefined %}
#     {% if params.Z is undefined %}
#     G28 Y
#     G28 X
#     G1 X137 Y103 F3000
#     G28 Z
#     {% endif %}
#     {% endif %}
#     {% endif %}
#     G90    

[safe_z_home]
home_xy_position: 160, 165
speed: 100
z_hop: 10
z_hop_speed: 5

[probe]
pin:PA8
x_offset:-17
y_offset: 17
#z_offset: 0.00
speed: 10.0
samples: 2
samples_result: average
sample_retract_dist: 5.0
samples_tolerance: 0.1
samples_tolerance_retries: 3

[bed_mesh]
speed:120                
horizontal_move_z:10     
mesh_min:20,20           
mesh_max:290,290
probe_count:11,11         
algorithm:bicubic 
bicubic_tension:0.2
mesh_pps: 4, 4   

[verify_heater extruder]
max_error: 1000
check_gain_time:1000
hysteresis: 10
heating_gain: 2

[heater_bed]
heater_pin:PB10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
max_power: 1.0
#control = pid
#pid_kp = 71.039
#pid_ki = 2.223
#pid_kd = 567.421
min_temp: -100
max_temp: 200


[verify_heater heater_bed]
max_error: 1000
check_gain_time:1000
hysteresis: 10
heating_gain: 2

#fan for printed model FAN1
[fan]
pin:PA4
max_power: 0.8
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

#fan for printed model FAN0
[heater_fan fan0]
pin: PC7
shutdown_speed: 1

#fan for printed model FAN2
[heater_fan fan2]
pin: PC9
shutdown_speed: 1 

[printer]
kinematics:cartesian
max_velocity: 1000
max_accel: 10000
max_accel_to_decel: 5000
max_z_velocity: 30
max_z_accel: 200
square_corner_velocity: 5.0

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 62.2
shaper_type_y: ei
shaper_freq_y: 30.0
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1

####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################
[idle_timeout]
timeout: 36000

#[safe_z_home]
#home_xy_position: 215,215 
#speed: 100
#z_hop: 10                 
#z_hop_speed: 5

[gcode_macro G29]
gcode:
      BED_MESH_CLEAR
      G28
      BED_MESH_CALIBRATE
      G0 Z50 F1800
      G0 X170 Y175 F12000

# [bed_mesh]
# speed:120                
# horizontal_move_z:10     
# #mesh_min:10,21           
# #mesh_max:210,211
# mesh_min:10,21           
# mesh_max:405,409           
# probe_count:11,11          
# algorithm:bicubic
# bicubic_tension:0.2
# mesh_pps: 4, 4   
# fade_start: 1.0
# fade_end: 2.0

 # [gcode_macro FLASHLIGHT_ON]
 #description: Turn on Hotend LEDs
 #gcode:
#   SET_PIN PIN=caselight VALUE=1

 #[gcode_macro FLASHLIGHT_OFF]
 #description: Turn off Hotend LEDs
 #gcode:
 #  SET_PIN PIN=caselight VALUE=0


 #[gcode_macro MODLELIGHT_ON]
 #description: Turn on Logo LEDs 
 #gcode:
 #  SET_PIN PIN=caselight1 VALUE=1


 #[gcode_macro MODLELIGHT_OFF]
 #description: Turn off Logo LEDs
 #gcode:
 #  SET_PIN PIN=caselight1 VALUE=0

[filament_switch_sensor fila]
pause_on_runout: True
runout_gcode:
            SET_FILAMENT_SENSOR SENSOR=fila ENABLE=1
event_delay: 5.0
pause_delay: 5.0
switch_pin: PA6

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PB9
run_current: 1.1
hold_current: 0.8
interpolate: True
stealthchop_threshold:0
driver_SGTHRS:70
diag_pin:^PC0

[tmc2209 stepper_y]
uart_pin: PB5
run_current: 1.2
hold_current: 0.8
interpolate: True
stealthchop_threshold:0
driver_SGTHRS:90
diag_pin:^PC1

# [tmc2209 stepper_z]
# uart_pin: PC12
# run_current: 0.8
# hold_current: 0.8
# interpolate: True
# stealthchop_threshold: 120

[tmc2209 stepper_z]
uart_pin: PC4
run_current: 1.1
hold_current: 0.8
interpolate: True
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PC5
run_current: 0.8
hold_current: 0.8
interpolate: True
stealthchop_threshold: 0

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0
axes_map: x, z, -y

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  # an example


[force_move]
enable_force_move : true

[virtual_sdcard]
path: ~/gcode_files

[gcode_macro nozzle_wipe]
gcode: 
      G1 X260 Y260 Z10 F5000
      SET_KINEMATIC_POSITION Y=0  
      G1 Y70 F5000
      G1 Z0.3 F600  
      G1 X230 F5000
      G1 X270 F5000
      G1 X230 F5000
      G1 X270 F5000
      G1 X230 F5000
      G1 X270 F5000
      G1 X230 F5000
      G1 X270 F5000
      G1 X230 F5000
      G1 X270 F5000
      G1 X230 F5000
      G1 X270 F5000
      G92 E0
      G1 Z10 F1200
      G1 Y0 F5000
      G1 E-1 F3000
      M400
      SET_KINEMATIC_POSITION Y=260
      G92 E0

[gcode_macro nozzle_clean]
gcode:
      G28
      M109 S200
      nozzle_wipe

[gcode_macro PRINT_START]         
gcode:
    M220 S100
    M221 S100
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True
    save_last_file
    CLEAR_PAUSE
    M83
    BED_MESH_PROFILE load=default
    M117 Printing
                             
[gcode_macro PRINT_END]
gcode:
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file
    M220 S100
    M221 S100

[pause_resume]


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    PRINT_END
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} 
    SDCARD_RESET_FILE					            ; wait for buffer to clear
    G92 E0 							          ; zero the extruder
    G1 E-10.0 F1200 
    G4 P2000			      ; retract filament
    # G28 Y
    G28 X
    # G91
    # G1 Y220 F3000
    # G90
    TURN_OFF_HEATERS
    M107 
    M84


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode: 
    {% set z = params.Z|default(20)|int %}                                                   
    {% set e = params.E|default(2.5) %} 
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                             
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}                                              
    SAVE_GCODE_STATE NAME=PAUSE                                                                  
    M25                                                                              
    {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       
      G91
	    M83
	    G1 E-{e} F2100
      G1 Z{z} F900                                                                     
    {% else %}
      SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
    {% endif %}
    SAVE_GCODE_STATE NAME=PAUSEPARK
    G90                                                                                  
    #G1 X0 Y0 F6000
	  G1 E{e} F2100	
    SET_IDLE_TIMEOUT TIMEOUT=43200                                                       


[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    #G28 X Y
    {% set e = params.E|default(2.5)|int %}                                          
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    G91                                                                               
    M83
	  G1 E-{e} F900		
    RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     
    {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}                                                
      G1 Z{zhop * -1} F900
	    G1 E{e+0.5} F900	  
    {% else %}                      
      G1 Z{zhop * -1} F900                                                     
    {% endif %}
    RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60 
    M24
    
   
[display_status]

  
[gcode_arcs]

#[output_pin LAMP]
#pin:PA8
#shutdown_value: 0.0

[neopixel my_neopixel]
pin:PA3
chain_count:1
color_order:GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[gcode_macro NEOPIXEL_DISPLAY]
gcode:
    {% set led = params.LED %}
    {% set type = params.TYPE %}
    {% set mode = params.MODE %}
    {% set my_neopixel = printer.configfile.config['neopixel ' ~ led] %}

    {% if mode == 'progress' %}
        {% for i in range(my_neopixel.chain_count|int) %}
            SET_LED_TEMPLATE LED={led} INDEX={i+1} TEMPLATE={'led_' ~ type ~ '_' ~ mode} param_led_num={i+1} param_led_total={my_neopixel.chain_count|int}
        {% endfor %}
    {% endif %}
    {% if mode == 'glow' %}
        SET_LED_TEMPLATE LED={led} TEMPLATE={'led_' ~ type ~ '_' ~ mode}
    {% endif %}


[display_template led_extruder_temp_glow]
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {0.5}, 0.0, {1-ratio}, 0.0

[display_template led_bed_temp_glow]
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.config.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp|float %}
    {0.1}, 0.0, {0.5-ratio}, 0.0


[display_template led_print_percent_progress]
param_led_num:  0
param_led_total: 1
text:
    
        1, 1, 1, 0.0
   

[gcode_macro M109]
rename_existing: M99109
gcode:
     SAVE_VARIABLE VARIABLE=htemp VALUE='{printer.extruder.temperature}'
     NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=extruder_temp MODE=glow
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+2}   ; Wait for hotend temp (within 1 degree)
         #NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=extruder_temp MODE=glow
    {% endif %}
    NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=print_percent MODE=progress 
    
    
[gcode_macro M190]
rename_existing: M99190
gcode:
     NEOPIXEL_DISPLAY LED="my_neopixel" TYPE=bed_temp MODE=glow
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+2}  ; Wait for bed temp (within 1 degree)
    {% endif %}


[gcode_macro move_to_point_0]
gcode:
   G1 Z10 F600
   M400
   G1 X24 Y35  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_1]
gcode:
   G1 Z10 F600
   M400
   G1 X274 Y35  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_2]
gcode:
   G1 Z10 F600
   M400
   G1 X24 Y165  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_3]
gcode:
   G1 Z10 F600
   M400
   G1 X274 Y165  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_4]
gcode:
   G1 Z10 F600
   M400
   G1 X24 Y295  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_5]
gcode:
   G1 Z10 F600
   M400
   G1 X274 Y295  F12000
   M400
   G1 Z0 F600
   M400

[gcode_macro move_to_point_6]
gcode:
   G1 Z10 F600
   M400
   G1 X152 Y165  F12000
   M400
   G1 Z0 F600
   M400

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.176
#*# pid_ki = 9.392
#*# pid_kd = 21.132
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.138
#*# pid_ki = 0.930
#*# pid_kd = 1360.508
#*#
#*# [probe]
#*# z_offset = 0.890
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.271250, -0.235000, -0.152500, -0.082500, -0.020000, 0.066250, 0.163750, 0.251250, 0.360000, 0.468750, 0.556250
#*# 	  -0.262500, -0.240000, -0.222500, -0.098750, -0.022500, 0.046250, 0.111250, 0.206250, 0.270000, 0.366250, 0.403750
#*# 	  -0.275000, -0.191250, -0.151250, -0.092500, -0.031250, 0.046250, 0.081250, 0.135000, 0.192500, 0.247500, 0.251250
#*# 	  -0.266250, -0.201250, -0.163750, -0.076250, -0.053750, -0.002500, 0.045000, 0.085000, 0.106250, 0.150000, 0.147500
#*# 	  -0.282500, -0.230000, -0.141250, -0.078750, -0.052500, -0.036250, -0.001250, -0.010000, 0.015000, 0.002500, -0.020000
#*# 	  -0.253750, -0.167500, -0.168750, -0.095000, -0.062500, -0.057500, -0.062500, -0.095000, -0.100000, -0.083750, -0.166250
#*# 	  -0.206250, -0.151250, -0.111250, -0.043750, -0.051250, -0.046250, -0.052500, -0.157500, -0.170000, -0.198750, -0.291250
#*# 	  -0.155000, -0.082500, -0.076250, -0.050000, -0.046250, -0.046250, -0.101250, -0.161250, -0.222500, -0.281250, -0.325000
#*# 	  -0.123750, -0.086250, -0.083750, 0.001250, -0.016250, -0.047500, -0.126250, -0.206250, -0.281250, -0.340000, -0.453750
#*# 	  -0.077500, -0.018750, -0.061250, -0.052500, -0.042500, -0.063750, -0.105000, -0.231250, -0.292500, -0.377500, -0.398750
#*# 	  -0.027500, 0.006250, -0.006250, 0.012500, 0.005000, -0.021250, -0.067500, -0.218750, -0.318750, -0.201250, 0.072500
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 11
#*# mesh_y_pps = 4
#*# min_y = 20.0
#*# x_count = 11
#*# max_y = 290.0
#*# mesh_x_pps = 4
#*# max_x = 290.0
